<h1><%= @artist.name %></h1>

<div>
    <h2>Albums</h2>
    <ul>
        <% if @artist.albums.empty? %>
            <p>There are currently no available albums for this artist</p>
        <% else %>
            <% @artist.albums.each do |album| %>
                <li><%= link_to album.name, album %></li>
            <% end %>
        <% end %>
    </ul>
</div>


