<h1>Results</h1>

<div>
  <h2>Songs</h2>

    <ul>
        <% if @found_songs.empty? %>
            <p>There are currently no songs available</p>
        <% else %>
            <% @found_songs.each do |song| %>
            <li><%= link_to song.track_name, song %></li>
            <% end %>
        <% end%>
    </ul>
</div>

<div>
  <h2>Albums</h2>

    <ul>
        <% if @found_albums.empty? %>
            <p>There are currently no albums available</p>
        <% else %>
            <% @found_albums.each do |album| %>
            <li><%= link_to album.name, album %></li>
            <% end %>
        <% end%>
    </ul>
</div>

<div>
  <h2>Artists</h2>

    <ul>
        <% if @found_artists.empty? %>
            <p>There are currently no artists available</p>
        <% else %>
            <% @found_artists.each do |artist| %>
            <li><%= link_to artist.name, artist %></li>
            <% end %>
        <% end%>
    </ul>
</div>