<h1>All Top Ten Songs by Popular Artists</h1>

<div>
    <%= paginate @songs, views: { paginator: 'kaminari/paginator' } %>
    <ul>
        <% if @songs.empty? %>
            <p>There are currently no songs available</p>
        <% else %>
            <% @songs.each do |song| %>
            <li><%= link_to song.track_name, song %></li>
            <% end %>
        <% end%>
    </ul>
</div>

