<h1>Songs in <%= @album.name %></h1>

<div>
    <ul>
        <% if @album.songs.empty? %>
            <p>There are currently no available songs for this artist</p>
        <% else %>
            <% @album.songs.each do |song| %>
                <li><%= link_to song.track_name, song %></li>
            <% end %>
        <% end %>
    </ul>
</div>

